

*:not(html){
    padding :0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid red;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main-container{
    /* flex: 1 1 0; */
    border: 2px solid black;
    width: 85vw;
    height: 94vh;

    display: flex;
    text-align: center;


}






.prj-container, .todo-container{
    border: 2px solid red;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.prj-container{
    flex: 0 0 200px;
}


.todo-title,.prj-title{
    border: 3px solid gold;
}


.prj-list{
    border: 3px solid blueviolet;
    flex: 1;
    font-size:large;
}


.all-todos{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 5px;
}

.todo-card{
    text-align: left;
    flex: none;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title{
    font-size: x-large;
    padding-top: 20px;
}


.desc{
    font-size: small;
    opacity: 0.6;
}

.data{
    font-size: medium;
    flex: 1;
    border: 2px solid black;
}

.top-tiles{
    display: flex;
    gap: 5px;
    font-size: x-small;
    position: absolute;
    left: 5px;
    top: 4px;
}

.due-time, .priority{
    border: 2px solid plum;
}


.edit-btn{
    position: absolute;
    right: 5px;
    top: 4px;
}

dialog{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.data-container{
    border: 2px solid black;
    position: relative;
    padding: 5px;
    overflow-y: scroll;
    height: 150px;
}


.top-add-btns{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    position: sticky;
    top: 0px;
}


.btn-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}


.btn-container > button{
    padding: 3px;
}


.first-container, .sec-container, .radio-grp, .btn-container{
    padding: 3px;
}

.sec-container{
    display: flex;
    gap: 2px;
}

.sec-container > input{
    flex-grow: 1;
}


.note-div, .checkbox-div{
    padding: 1px 4px;
    display: flex;
    gap: 3px;
    justify-content: space-between;
}

.data-container input[type="text"]{
    flex-grow: 1;
}